html, body
{
	margin: 0 !important;
	padding: 0 !important;
	height: 100% !important;
	width: 100% !important;
	background: #cccccc; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#ffffff, #a3c2db, #ccff99); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ffffff, #a3c2db, #ccff99); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ffffff, #a3c2db, #ccff99); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ffffff, #a3c2db, #ccff99); /* Standard syntax */
}

.container
{
	padding: 0;
	height: 100%;
}

.post
{
	height: 50%;
	width: 80%;
	margin: 20% auto;
	padding-top: 50px;
	border-radius: 20px;
	box-shadow: 10px 10px 80px #808080;
}

.post-form
{
	width: 70%;
	height: 100%;
	margin: 0 auto;
}

.post-form label
{
	color: #000055;
	font-size: 2em;
}

.post-form textarea
{
	height: 250px;
	width: 100%;
}

.post-form button
{
	float: right;
}

.resp
{
	height: 50%;
	width: 80%;
	margin: 20% auto;
	padding-top: 50px;
	border-radius: 20px;
	box-shadow: 10px 10px 80px #808080;
}

.stud_concern
{
}

.stud_concern h3
{
	color: #000055;
	padding: 0;
	margin-left: 5%;
	font-weight: bold;
}

.stud_concern p
{
	margin: 0 10% 1% 10%;
	padding: 0;
}

.resp-form
{
	width: 90%;
	height: 100%;
	margin: 0 auto;
}
.resp-form textarea
{
	height: 250px;
	width: 100%;
}

.resp-form button
{
	float: right;
}
