
<p><a href = "/helpmate"> Log Out </a></p>
<p><a href = "/helpmate/newrec"> Create Personal Information Form </a></p>
<p><a href = "/helpmate/studentrec"> Create Student Record Form </a></p>

<p><%= @user.id %></p>
<%= link_to 'Back to login page', helpmate_path %> 