html, body
{
	margin: 0 !important;
	padding: 0 !important;
	height: 100% !important;
	width: 100% !important;
	text-align: center;
	background: #ffffff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#ffffff, #a3c2db, #ccff99); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ffffff, #a3c2db, #ccff99); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ffffff, #a3c2db, #ccff99); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ffffff, #a3c2db, #ccff99); /* Standard syntax */
}

.container
{
	width: 60%;
	margin-top: 3%;
	border-radius: 20px;
	box-shadow: 10px 10px 80px #808080;
}

.banner
{
	color: #ffffff;
	border-radius: 20px 20px 0 0;
}

.logo
{
	padding: 15px 0 15px 0;
}

.login
{
	padding: 10px 0 10px 0;
}

.logo img
{
	height: auto;
	width: 30%;
}

.login-form
{
	width: 50%;
	margin: 0 auto;
}

.login-form label
{
	font-size: 25px;
	color: #707070;
}
